*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* container */
.container{
  max-width: 1200px;
  margin: 0 auto;
}

/* google font */

.inter-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */





/* main style */

/* header section */
header{
  background-color: #1A0B2E;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #412567;
}

.hide-desktop-menubar{
  display: none;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu ul{
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-menu ul a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}

.nav-menu ul a:hover{
  color: #FB09B4;
  font-weight: bold;
}

.nav-menu button{
  gap: 4px;
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 12px 16px;
  border-radius: 10000px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in;
}

.nav-menu button:hover{
  background: linear-gradient(45deg, #164dc5,#5c0943, #6de40c);
  transform: translateY(-3px) scale(1.05);
}

/* hero section */
.hero-section{
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-main-section{
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-image-circle{
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 70px 75px 80px 75px;
  width: 350px;
  height: 350px;
  border: 10px solid #2A186C;
  transition: all 0.3s ease-out;
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.25);
}

.hero-image-circle:hover{
  transform: translateY(-3px) scale(1.05);
}
.hero-main-section h1{
  font-size: 60px;
  font-weight: 800;
  color: white;
  margin-top: 40px;
  margin-bottom: 8px;
}

.hero-main-section p{
  font-size: 16px;
  color: white;
  text-align: center;
  margin-bottom: 24px;
}

.image-notes{
  font-size: 18px;
  font-weight: 600;
  color: #1A0B2E;
  padding: 8px 16px;
  background-color: #00FF88;
  border-radius: 1000px;
  position: absolute;
  margin-top: -253px;
  margin-left: 240px;
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.25);
}

.hero-buttons{
  display: flex;
  gap: 8px;
}

.hero-btn-1{
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  padding: 12px 20px;
  border-radius: 10000px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  transition: all 0.4s ease;
}

.hero-btn-1:hover{
  background: linear-gradient(45deg, #164dc5,#5c0943, #6de40c);
  transform: translateY(-3px) scale(1.05);
}

.hero-btn-2{
  border: 1px solid #00FF88;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #00FF88;
  padding: 12px 20px;
  border-radius: 10000px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  transition: all 0.4s ease;
}

.hero-btn-2:hover{
  background: linear-gradient(45deg, #164dc5,#5c0943, #6de40c);
  transform: translateY(-3px) scale(1.05);
}


/* ======================= responsive ============================================ */

/* mobile device */
/* header */

@media screen and (max-width: 576px) {
.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.hide-desktop-menubar{
  display: block;
}

.nav-menu ul{
  display: none;
}

.nav-menu button{
  display: none;
} 

/* hero section */
.hero-main-section {
  padding: 0px 0px;
}

.hero-image-circle {
  padding: 60px;
  width: 200px;
  height: 200px;
  margin-top: 40px;
}

.hero-image-circle img{
  width: 80px;
  height: 80px;
}

.image-notes {
  font-size: 16px;
  font-weight: 600;
  color: #1A0B2E;
  padding: 8px 16px;
  background-color: #00FF88;
  border-radius: 1000px;
  position: absolute;
  margin-top: -146px;
  margin-left: 117px;
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.25);
}

.hero-main-section h1 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-top: 24px;
  margin-bottom: 8px;
}

.hero-buttons {
  margin-bottom: 40px;
}




}