*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* container */
.container{
  max-width: 1200px;
  margin: 0 auto;
}

/* google font */

.inter-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */





/* main style */

/* header section */
header{
  background-color: #1A0B2E;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #412567;
}

.hide-desktop-menubar{
  display: none;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu ul{
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-menu ul a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}

.nav-menu ul a:hover{
  color: #FB09B4;
  font-weight: bold;
}

.nav-menu button{
  gap: 4px;
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 12px 16px;
  border-radius: 10000px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in;
}

.nav-menu button:hover{
  background: linear-gradient(45deg, #164dc5,#5c0943, #6de40c);
  transform: translateY(-3px) scale(1.05);
}

/* hero section */
.hero-section{
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-main-section{
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-image-circle{
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 70px 75px 80px 75px;
  width: 350px;
  height: 350px;
  border: 10px solid #2A186C;
  transition: all 0.3s ease-out;
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.25);
}

.hero-image-circle:hover{
  transform: translateY(-3px) scale(1.05);
}
.hero-main-section h1{
  font-size: 60px;
  font-weight: 800;
  color: white;
  margin-top: 40px;
  margin-bottom: 8px;
}

.hero-main-section p{
  font-size: 16px;
  color: white;
  text-align: center;
  margin-bottom: 24px;
}

.image-notes{
  font-size: 18px;
  font-weight: 600;
  color: #1A0B2E;
  padding: 8px 16px;
  background-color: #00FF88;
  border-radius: 1000px;
  position: absolute;
  margin-top: -253px;
  margin-left: 240px;
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.25);
}

.hero-buttons{
  display: flex;
  gap: 8px;
}

.hero-btn-1{
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  padding: 12px 20px;
  border-radius: 10000px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  transition: all 0.4s ease;
}

.hero-btn-1:hover{
  background: linear-gradient(45deg, #164dc5,#5c0943, #6de40c);
  transform: translateY(-3px) scale(1.05);
}

.hero-btn-2{
  border: 1px solid #00FF88;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #00FF88;
  padding: 12px 20px;
  border-radius: 10000px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  transition: all 0.4s ease;
}

.hero-btn-2:hover{
  background: linear-gradient(45deg, #164dc5,#5c0943, #6de40c);
  transform: translateY(-3px) scale(1.05);
}


/* about section */
.about-section{
  background-color: #1A0B2E;
  padding-top: 50px;
  padding-bottom: 120px;
}

.about-tittle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-tittle h1{
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-bottom: 16px;
}

.about-tittle p{
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-align: center;
}

.horizontal-about{
  border-bottom: 1px solid #FFFFFF;
  margin-top: 80px;
  margin-bottom: 80px;
}

.about-cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  place-items: center;
}

.card h1{
  font-size: 48px;
  font-weight: 900;
  color: #00FF88;
  margin-bottom: 16px;
}

.card p{
  font-size: 16px;
  color: white;
}

/* tech wave section */

.tech-wave-section{
  background-color: #230E3D;
  padding-top: 120px;
  padding-bottom: 120px;
}

.tech-tittle{
  text-align: center;
  color: white;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
}

.tech-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 30px;
}

.grid-1{
  background-color: rgba(53, 17, 101, 0.4);
  grid-row: 1/3;
  padding: 107px 40px;
  border-radius: 40px;
}

.grid-all-tittle h3{
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-top: 16px;
  margin-bottom: 16px;
}

.grid-all-tittle p{
  color: white;
  font-size: 16px;
}


.grid-2,
.grid-3,
.grid-4,
.grid-5{
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}


.grid-2{
  grid-column: 2/4;
}
.grid-3{
  grid-column: 2/4;
}

.grid-4{
  grid-column: 1/3;
}


.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5{
box-shadow: 0px 10px -1px -7px #000000, 0px 0px 20px 7px rgba(0,13,26,0.56);
transition: all 0.3s ease;
}


.grid-1:hover,
.grid-2:hover,
.grid-3:hover,
.grid-4:hover,
.grid-5:hover{
/* box-shadow: 0px 0px 22px 10px rgba(0,13,26,0.72);
transform: scale(1.01); */
background: linear-gradient(45deg, #164dc5,#5c0943, #6de40c);
transform: translateY(-3px) scale(1.05);
}


/* feature section */
.feature-section{
  margin-bottom: 120px;
}

.feature-background{
  background-color: #1A0B2E;
  padding-top: 120px;
  padding-bottom: 120px;
}

.feature-tittle{
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}


.feature-cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}

.feature-card-tittle{
  padding: 24px;
}

.feature-card-tittle h3{
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 12px;
}

.feature-card-tittle p{
  font-size: 16px;
  color: white;
  line-height: 24px;
  margin-bottom: 12px;
}


.feature-time{
  display: flex;
  gap: 6px;
  align-items: center;
  color: #00FF88;
  font-size: 16px;
}



.feautre-card-sample{
  background-color: #250D44;
  border-radius: 24px;
  box-shadow: 0px 10px -1px -7px #000000, 0px 0px 20px 7px rgba(0,13,26,0.56);
  transition: all 0.3s ease;
}

.feautre-card-sample:hover{
  /* box-shadow: 0px 0px 22px 10px rgba(0,13,26,0.72);
  transform: scale(1.01);
   */
  background: linear-gradient(45deg, #164dc5,#5c0943, #6de40c);
  transform: translateY(-3px) scale(1.05);
}


/* host section */
.host-tittle{
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.alex-kumar-card{
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  box-shadow: 0px 10px -1px -7px #000000, 0px 0px 20px 7px rgba(0,13,26,0.56);
  transition: all 0.3s ease;
}

.alex-kumar-card:hover{
  background: linear-gradient(45deg, #164dc5,#5c0943, #6de40c);
  transform: translateY(-3px) scale(1.05);
}

.host-card-tittle h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-bottom: 16px;
}

.host-card-tittle p{
  font-size: 16px;
  color: white;
  line-height: 24px;
  margin-bottom: 16px;
}

.social{
  display: flex;
  gap: 8px;
  align-items: center;
}





/* ======================= responsive ============================================ */

/* mobile device */
/* header */

@media screen and (max-width: 576px) {
.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.hide-desktop-menubar{
  display: block;
}

.nav-menu ul{
  display: none;
}

.nav-menu button{
  display: none;
} 

/* hero section */
.hero-main-section {
  padding: 0px 0px;
}

.hero-image-circle {
  padding: 60px;
  width: 200px;
  height: 200px;
  margin-top: 40px;
}

.hero-image-circle img{
  width: 80px;
  height: 80px;
}

.image-notes {
  font-size: 16px;
  font-weight: 600;
  color: #1A0B2E;
  padding: 8px 16px;
  background-color: #00FF88;
  border-radius: 1000px;
  position: absolute;
  margin-top: -146px;
  margin-left: 117px;
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.25);
}

.hero-main-section h1 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-top: 24px;
  margin-bottom: 8px;
}

.hero-buttons {
  margin-bottom: 40px;
}

/* about section */
.about-tittle h1 {
    font-size: 30px;
}

.about-tittle p {
    font-size: 13px;
}

.about-tittle p br{
  display: none;
}

.about-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.card h1 {
    font-size: 40px;
}

/* tech wave section */

.tech-wave-section{
  padding-top: 40px;
  padding-bottom: 40px;
}

.tech-grid {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 16px;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5
{
  grid-column: 1/1;
  padding: 24px;
  border-radius: 24px;
}

.tech-tittle {
  font-size: 32px;
  margin-bottom: 16px;
}

.grid-all-tittle h3 {
  font-size: 22px;
}

/* feature-section */
.feature-section {
  margin-bottom: 60px;
}

.feature-cards {
  grid-template-columns: repeat(1, 1fr);
}


.feature-images{
  width: 100%;
}

.feature-tittle {
  font-size: 32px;
}

.feature-card-tittle h3 {
  font-size: 20px;
}


.feature-background {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* host section */
.host-tittle {
  font-size: 32px;
  margin-bottom: 24px;
}

.alex-kumar-card {
  padding: 24px;
  flex-direction: column;
}

.host-card-tittle h2 {
  font-size: 24px;
  text-align: center;
}

.host-card-tittle p{
  text-align: center;
}

.social {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}


}