*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */
.container{
  max-width: 1200px;
  margin: 0 auto;
}

/* google font */

.inter-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */





/* main style */

/* header section */
header{
  background-color: #1A0B2E;
  padding-top: 24px;
  padding-bottom: 24px;
}

.hide-desktop-menubar{
  display: none;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu ul{
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-menu ul a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}

.nav-menu ul a:hover{
  color: #FB09B4;
  font-weight: bold;
}

.nav-menu button{
  gap: 4px;
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 12px 16px;
  border-radius: 10000px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in;
}

.nav-menu button:hover{
   background: linear-gradient(45deg, #164dc5,#5c0943, #6de40c);
   transform: translateY(-3px) scale(1.05);
}





/* ======================= responsive ============================================ */

/* mobile device */
/* header */

@media screen and (max-width: 576px) {
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hide-desktop-menubar{
  display: block;
}

.nav-menu ul{
  display: none;
}

.nav-menu button{
  display: none;
} 





}